#Youtube{
    border-color: maroon;
    background-color: red;
    color: white;
}
#Twitter{
    border-color: deepskyblue;
    background-color: dodgerblue;
    color: white;
}
#Twitch{
    border-color: black;
    background-color: blueviolet;
    color: white;
}
#Facebook{
    border-color: blue;
    background-color: steelblue;
    color: white;
}
